<button class="btn btn-default toggle"><i class="fa fa-adjust"></i></button>
<div class="pull-right panel">
  <div class="panel-heading">
    <h4>Customize:</h4>
  </div>
  <div class="panel-body">

    <h5>Solid:</h5>
    <ul>
      <li><div class="white" ng-click="main.headerStyle = 'white'"></div></li>
      <li><div class="default" ng-click="main.headerStyle = 'header-solid-default'"></div></li>
      <li><div class="greensea" ng-click="main.headerStyle = 'red'"></div></li>
      <li><div class="lightred" ng-click="main.headerStyle = 'header-solid-lightred'"></div></li>
      <li><div class="amethyst" ng-click="main.headerStyle = 'header-solid-amethyst'"></div></li>
      <li><div class="drank" ng-click="main.headerStyle = 'header-solid-drank'"></div></li>
      <li><div class="bamboo" ng-click="main.headerStyle = 'header-solid-bamboo'"></div></li>
      
    </ul>

    <!-- <h5>Gradient:</h5>
    <ul>
      <li><div class="default" ng-click="main.headerStyle = null"></div></li>
      <li><div class="greensea" ng-click="main.headerStyle = 'header-gradient-greensea'"></div></li>
      <li><div class="lightred" ng-click="main.headerStyle = 'header-gradient-lightred'"></div></li>
      <li><div class="amethyst" ng-click="main.headerStyle = 'header-gradient-amethyst'"></div></li>
      <li><div class="drank" ng-click="main.headerStyle = 'header-gradient-drank'"></div></li>
      <li><div class="gray" ng-click="main.headerStyle = 'header-gradient-gray'"></div></li>
    </ul>

    <h5>Primary Color:</h5>
    <ul>
      <li><div class="default" ng-click="main.primaryColor = null"></div></li>
      <li><div class="greensea" ng-click="main.primaryColor = 'primary-color-greensea'"></div></li>
      <li><div class="lightred" ng-click="main.primaryColor = 'primary-color-lightred'"></div></li>
      <li><div class="amethyst" ng-click="main.primaryColor = 'primary-color-amethyst'"></div></li>
      <li><div class="drank" ng-click="main.primaryColor = 'primary-color-drank'"></div></li>
      <li><div class="gray" ng-click="main.primaryColor = 'primary-color-gray'"></div></li>
    </ul> -->
  </div>
</div>
