<div class="page page-layout">

  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Home</a></li>
    <li class="active"><a href="javascript:;">Annotate</a></li>

  </ol>

  <p class="lead">This for annotating text data pipelines in bambooIQ.</p>

  <div class="row">

        <div class="col-lg-12" ngcontroller="annotateController">

            <div class="box box-default">
                <div class="box-header">Heatmap</div>
                <div class="box-body">
                    <div data-annotate data-options="heatmap1.options" style="height: 250px;"></div>
                </div>
            </div>
            
        
    	</div>
  </div>

  <div class="row">
  	<div class="col-md-12">
        <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Processed Documents</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->
        <!-- tile body -->
        <section class="tile-body" ng-controller="ResponsiveDatatableController as showCase">

          <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table minotaur-table"></table>

        </section>
        <!-- /tile body -->
    </div>
  	</div>
  </div>

</div>
