/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$line-height-base: 1.42858;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";


/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

$simple-line-font-path: "../../bower_components/simple-line-icons/fonts/";
@import "../../bower_components/simple-line-icons/scss/simple-line-icons.scss";

$wi-path: "../../bower_components/weather-icons/font";
@import "../../bower_components/weather-icons/sass/weather-icons.scss";

// import google fonts
@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,700|Roboto:300,400,400i,700';

@import "styles/inc/mixins";
@import "styles/inc/colors";
@import "styles/inc/variables";

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
