<div class="page page-core page-signup">

  <div class="login-modal">

    <div class="branding">
      <img src="/assets/images/logo.png" alt>
      <h2 class="brand"><strong>Bamboo</strong>IQ Signup</h2>
    </div>

    <form>
      <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-user"></i></span>
        <input id="userName" type="text" placeholder="User name" class="form-control">
      </div>
            <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-user"></i></span>
        <input id="fullName" type="text" placeholder="Full name" class="form-control">
      </div>
      <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-envelope"></i></span>
        <input id="email" type="email" placeholder="Email address" class="form-control">
      </div>
      <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-key"></i></span>
        <input id="password" type="password" placeholder="Password" class="form-control">
      </div>
      <div class="form-group">
        <label class="minotaur-checkbox minotaur-label inline-block"> I agree to the <a href="javascript:;">Terms of Service</a> & <a href="javascript:;">Privacy Policy</a>
          <input type="checkbox">
          <div class="input-indicator"></div>
        </label>
      </div>
      <button id="quickstart-sign-up" type="submit" class="btn btn-lg btn-block btn-rounded-40">Submit</button>
    </form>

    <div class="mt-15 text-center">Already have an account? <a ui-sref="pages.login">Please log in</a></div>

  </div>

</div>
