<div class="page page-core page-forgotpass">

  <div class="login-modal">

    <div class="branding">
      <img src="/assets/images/logo.png" alt>
      <h2 class="brand"><strong>Bamboo</strong>IQ Login</h2>
    </div>

    <form>
      <p class="help-block text-left">
         Enter your e-mail address below to reset your password.
      </p>
      <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-envelope"></i></span>
        <input id="email" type="email" placeholder="Email address" class="form-control">
      </div>
      <button id="quickstart-reset-password" type="submit" class="btn btn-lg btn-block btn-rounded-40">Submit</button>
    </form>

    <div class="mt-15 text-center">Know your password? <a ui-sref="pages.login">Please log in</a></div>

  </div>

</div>
