<div class="page page-layout force-header-sm header-sm">

  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Main</a></li>
    <li class="active"><a href="javascript:;">Intelligence Center</a></li>
  </ol>

<!-- Enter content for the analytics page here-->



<div class="row">

  <div class="col-md-4">

    <!-- tile -->
      <div class="tile tile-simple carousel-widget">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Data Streams</h1>
          <div class="controls">
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body" ng-controller="MorrisChartsController as vm">

          <slick arrows="false" autoplay="true" dots="true" autoplay-speed="8000" infinite="true">
            <div>
              <div class="progress-list">
                
                <div  line-chart
                    line-data='vm.basicData'
                    line-xkey='year'
                    line-ykeys='["a", "b"]'
                    line-labels='["Series", "Series"]'
                    line-colors='["#16a085","#FF0066"]' style="height: 250px"></div>
                <div class="clearfix" style="height: 45px"></div>
                <uib-progressbar class="transparent-black not-rounded mb-10" value="50">50%</uib-progressbar>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px; font-size: 10px; line-height: 18px;"><i class="fa fa-pause"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px;"><i class="fa fa-caret-down"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs" style="width:22px;"><i class="fa fa-ellipsis-h"></i></button>
              </div>
              <p class="text-thin">Deadline: 12h 15m</p>
            </div>
            <div>
              <div class="progress-list">
                
                <div  area-chart
                    area-data='vm.areaData'
                    area-xkey='year'
                    area-ykeys='["a", "b"]'
                    area-labels='["Series A", "Series B"]'
                    show-grid='true' style="height: 250px"></div>
                <div class="clearfix" style="height: 45px"></div>
                <uib-progressbar class="transparent-black not-rounded mb-10" value="26">26%</uib-progressbar>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px; font-size: 10px; line-height: 18px;"><i class="fa fa-pause"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px;"><i class="fa fa-caret-down"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs" style="width:22px;"><i class="fa fa-ellipsis-h"></i></button>
              </div>
              <p class="text-thin">Deadline: 2d 9h 45m</p>
            </div>
            <div>
              <div class="progress-list">
               
                <div  bar-chart
                    bar-data='vm.basicData'
                    bar-x='year'
                    bar-y='["a", "b"]'
                    bar-labels='["Series A", "Series B"]'
                    bar-colors='["#ff4a43","#1693A5"]' style="height: 250px"></div>
                <div class="clearfix" style="height: 45px"></div>
                <uib-progressbar class="transparent-black not-rounded mb-10" value="78">78%</uib-progressbar>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px; font-size: 10px; line-height: 18px;"><i class="fa fa-pause"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px;"><i class="fa fa-caret-down"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs" style="width:22px;"><i class="fa fa-ellipsis-h"></i></button>
              </div>
              <p class="text-thin">Deadline: 1h 5m</p>
            </div>
          </slick>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->

  </div>

  <div class="col-md-4">

    <!-- tile -->
      <div class="tile tile-simple carousel-widget" ng-controller="RickshawChartController as vm">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Annotation Activity</h1>
          <div class="controls">
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <slick arrows="false" autoplay="true" dots="true" autoplay-speed="8000" infinite="true">
            <div>
              <div class="progress-list">
                
                <rickshaw rickshaw-options="vm.options0"
                    rickshaw-features="vm.features0"
                    rickshaw-series="vm.series0">
                </rickshaw>

                <div class="clearfix" style="height: 45px"></div>
                <uib-progressbar class="transparent-black not-rounded mb-10" value="50">50%</uib-progressbar>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px; font-size: 10px; line-height: 18px;"><i class="fa fa-pause"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px;"><i class="fa fa-caret-down"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs" style="width:22px;"><i class="fa fa-ellipsis-h"></i></button>
              </div>
              <p class="text-thin">Deadline: 12h 15m</p>
            </div>
            <div>
              <div class="progress-list">
                <div class="details">
                  <div class="title"><i class="fa fa-caret-right mr-5"></i> <span class="text-md">Fix navigation</span></div>
                  <div class="description text-transparent-white text-lowercase">normal priority, started at: 20.09.2014</div>
                </div>
                <div class="clearfix" style="height: 45px"></div>
                <uib-progressbar class="transparent-black not-rounded mb-10" value="26">26%</uib-progressbar>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px; font-size: 10px; line-height: 18px;"><i class="fa fa-pause"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px;"><i class="fa fa-caret-down"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs" style="width:22px;"><i class="fa fa-ellipsis-h"></i></button>
              </div>
              <p class="text-thin">Deadline: 2d 9h 45m</p>
            </div>
            <div>
              <div class="progress-list">
                <div class="details">
                  <div class="title"><i class="fa fa-caret-right mr-5"></i> <span class="text-md">Remove dependencies</span></div>
                  <div class="description text-transparent-white text-lowercase">high priority, started at: 26.10.2014</div>
                </div>
                <div class="clearfix" style="height: 45px"></div>
                <uib-progressbar class="transparent-black not-rounded mb-10" value="78">78%</uib-progressbar>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px; font-size: 10px; line-height: 18px;"><i class="fa fa-pause"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px;"><i class="fa fa-caret-down"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs" style="width:22px;"><i class="fa fa-ellipsis-h"></i></button>
              </div>
              <p class="text-thin">Deadline: 1h 5m</p>
            </div>
          </slick>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->

  </div>

  <div class="col-md-4">

    <!-- tile -->
      <div class="tile tile-simple carousel-widget" ng-controller="FlotCombinedChartController as vm">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Model Performance</h1>
          <div class="controls">
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body" ng-controller="MorrisChartsController as vm">

          <slick arrows="false" autoplay="true" dots="true" autoplay-speed="18000" infinite="true">
            <div>
              <div class="progress-list">
                  
                  
                  <div  donut-chart
                    donut-data='vm.donutData' style="height: 250px"></div>
                  
                <div class="clearfix" style="height: 45px"></div>
                <uib-progressbar class="transparent-black not-rounded mb-10" value="50">50%</uib-progressbar>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px; font-size: 10px; line-height: 18px;"><i class="fa fa-pause"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px;"><i class="fa fa-caret-down"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs" style="width:22px;"><i class="fa fa-ellipsis-h"></i></button>
              </div>
              <p class="text-thin">Deadline: 12h 15m</p>
            </div>
            <div>
              <div class="progress-list">
                <div class="details">
                  <div class="title"><i class="fa fa-caret-right mr-5"></i> <span class="text-md">Fix navigation</span></div>
                  <div class="description text-transparent-white text-lowercase">normal priority, started at: 20.09.2014</div>
                </div>
                <div class="clearfix" style="height: 45px"></div>
                <uib-progressbar class="transparent-black not-rounded mb-10" value="26">26%</uib-progressbar>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px; font-size: 10px; line-height: 18px;"><i class="fa fa-pause"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px;"><i class="fa fa-caret-down"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs" style="width:22px;"><i class="fa fa-ellipsis-h"></i></button>
              </div>
              <p class="text-thin">Deadline: 2d 9h 45m</p>
            </div>
            <div>
              <div class="progress-list">
                <div class="details">
                  <div class="title"><i class="fa fa-caret-right mr-5"></i> <span class="text-md">Remove dependencies</span></div>
                  <div class="description text-transparent-white text-lowercase">high priority, started at: 26.10.2014</div>
                </div>
                <div class="clearfix" style="height: 45px"></div>
                <uib-progressbar class="transparent-black not-rounded mb-10" value="78">78%</uib-progressbar>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px; font-size: 10px; line-height: 18px;"><i class="fa fa-pause"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs mr-5" style="width:22px;"><i class="fa fa-caret-down"></i></button>
                <button type="button" class="btn btn-border btn-rounded-20 btn-white btn-xs" style="width:22px;"><i class="fa fa-ellipsis-h"></i></button>
              </div>
              <p class="text-thin">Deadline: 1h 5m</p>
            </div>
          </slick>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->

  </div>

</div>  

<!-- row -->
  <div class="row">
    

    <!-- col -->
    <div class="col-md-12">


            <!-- tile -->
      <div class="tile" ng-controller="StreamsController as table">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Streams Overview</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <table datatable="ng" dt-options="table.dtOptions" dt-column-defs="table.dtColumnDefs" class="table minotaur-table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Project</th>
              <th>Priority</th>
              <th style="width: 210px;">Status</th>
              <th style="width: 60px;" class="text-right">Chart</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in table.projects">
              <td>{{ $index+1 }}</td>
              <td>{{ project.title }}</td>
              <td><span class="text-sm" ng-class="{'text-danger': project.priority.value == 1, 'text-warning': project.priority.value == 2, 'text-success': project.priority.value == 3}">{{ project.priority.title }}</span></td>
              <td><uib-progressbar class="progress-xxs not-rounded inline-block" value="project.status" type="greensea" style="width: 150px; margin-right: 8px; margin-bottom: 3px;"></uib-progressbar><span class="text-sm">{{project.status}}%</span></td>
              <td class="text-right"><span sparkline data="project.chart.data" options="{
                  type: 'bar',
                  barColor: project.chart.color,
                  barWidth: '4px',
                  height: '18px'
                }"></span></td>
            </tr>
            </tbody>
          </table>

        </section>

</div>
